exportPattern("^[[:alpha:]]+")
exportMethods(
    "call.npci",
    "compute",
    "figures",
    "initialize",
    "normalization",
    "populate",
    "summarize",
    "venndiagram",
    "find.fci.targets"
)
exportClasses(
    "NPCI" 
)

import("gtools")
importFrom("psych", tr)
import("FNN")
import("zoo")
import("VennDiagram")
import("grid")
import("rgl")



importFrom("grDevices", "dev.off", "rainbow", "tiff")
importFrom("graphics", "axis", "lines", "par", "plot")
importFrom("stats", "density", "median", "quantile", "sd", "var")
importFrom("utils", "install.packages", "installed.packages",
             "read.csv")